  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <a href="mailto:abhishek.kumar2003.it@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
      <a href="https://github.com/abhishek108" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
      <a href="https://www.linkedin.com/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
      
      <p>© 2024 NIDS</p>
    </div>
  </footer>


</body>

</html>
